In [1]:
import pandas as pd
data = pd.read_csv('car_evaluation.csv')

In [2]:
data.head()

  buying  maint  doors  persons lug_boot safety outcome
0  vhigh  vhigh      2        2    small    low   unacc
1  vhigh  vhigh      2        2    small    med   unacc
2  vhigh  vhigh      2        2    small   high   unacc
3  vhigh  vhigh      2        2      med    low   unacc
4  vhigh  vhigh      2        2      med    med   unacc

In [3]:
data.shape

(1728, 7)

In [4]:
data.outcome.value_counts()

outcome
unacc    1210
acc       384
good       69
vgood      65
Name: count, dtype: int64

In [5]:
X = data.iloc[:,:-1]
Y = data.outcome

In [6]:
X.head()

  buying  maint  doors  persons lug_boot safety
0  vhigh  vhigh      2        2    small    low
1  vhigh  vhigh      2        2    small    med
2  vhigh  vhigh      2        2    small   high
3  vhigh  vhigh      2        2      med    low
4  vhigh  vhigh      2        2      med    med

In [7]:
Y.head()

0    unacc
1    unacc
2    unacc
3    unacc
4    unacc
Name: outcome, dtype: object

In [8]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
X.loc[:,['buying','maint','lug_boot','safety']].apply(encoder.fit_transform)
X.head()

  buying  maint  doors  persons lug_boot safety
0  vhigh  vhigh      2        2    small    low
1  vhigh  vhigh      2        2    small    med
2  vhigh  vhigh      2        2    small   high
3  vhigh  vhigh      2        2      med    low
4  vhigh  vhigh      2        2      med    med

In [9]:
 from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
columns_to_encode = ['buying','maint','lug_boot','safety']
for column in columns_to_encode:
    X[column] = enc.fit_transform(X[column])

In [10]:
X.head()

   buying  maint  doors  persons  lug_boot  safety
0       3      3      2        2         2       1
1       3      3      2        2         2       2
2       3      3      2        2         2       0
3       3      3      2        2         1       1
4       3      3      2        2         1       2

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.3, random_state = 10)

In [12]:
from sklearn.neighbors import KNeighborsClassifier
kmodel = KNeighborsClassifier()
kmodel.fit(X_train, Y_train)
Y_predict = kmodel.predict(X_test)

In [13]:
from sklearn.metrics import accuracy_score
print(accuracy_score(Y_test, Y_predict))
pd.crosstab(Y_test, Y_predict)

0.9441233140655106

col_0    acc  good  unacc  vgood
outcome
acc       93     1      8      0
good       8    13      0      0
unacc      3     0    368      0
vgood      6     2      1     16

In [14]:
from imblearn.over_sampling import SMOTE
smote = SMOTE()
X_train_smote, Y_train_smote = smote.fit_resample(X_train.astype('float'),Y_train)

In [15]:
kmodel.fit(X_train_smote, Y_train_smote)
Y_predict_smote = kmodel.predict(X_test)
print(accuracy_score(Y_test, Y_predict_smote))
pd.crosstab(Y_test, Y_predict_smote)

0.9421965317919075

col_0    acc  good  unacc  vgood
outcome
acc       88     7      6      1
good       2    19      0      0
unacc     11     1    358      1
vgood      0     1      0     24

In [16]:
from collections import Counter
print("Before SMOTE :", Counter(Y_train))
print("After SMOTE :", Counter(Y_train_smote))

Before SMOTE : Counter({'unacc': 839, 'acc': 282, 'good': 48, 'vgood': 40})
After SMOTE : Counter({'acc': 839, 'unacc': 839, 'vgood': 839, 'good': 839})